<% provide(:title, "利用方法について") %>
<article class="about-container">
  <div class="inner">
    <%= image_tag "about-background-phote.jpg", class: "about-background-img" %>
    <!-- pays_aboutのレイアウトと共通部分なのでパーシャルでくくったがほうがいい？ -->
    <section class="service-description-area">
      <h1>About Service</h1>
      <p class="translation">Gitのサービス内容について</p>
      <p class="detail-description">GitとはSNS型の無料オンライン募金サービスです</p>
      <ul>
        <li>
          <p>①登録費用,寄付による手数料など無料</p>
        </li>
        <li>
          <p>②2ステップもしくはワンステップで簡単に寄付ができます</p>
        </li>
        <li>
          <p>③国から認可を受けたNPO団体のみしか登録できないので安全に寄付ができます</p>
        </li>
        <li>
          <p>④NPOの活動がツイートを通していつでも確認することができ、
            またコメント機能を使い寄付することもできます</p>
        </li>
      </ul>
      <%= image_tag "about-image1.jpg" %>
      <!---新規登録のリンクはテストのためにあえてクラスを付けたがこれは問題ない？-->
      <%= link_to "新規登録", signup_path, class: "about-signup-link" %>
    </section>
    <!-- よくある質問部分も共通しているが,パーシャルにまとめたほうがわかりずらくなるかと思いまとめなかったが、まとめたほうがいい？ -->
    <section class="questions-area">
      <h1>Frequently Questions</h1>
      <p class="translation">よくある質問</p>
      <ul>
        <li>
          <%= link_to "どのようにして寄付するの？", "#" %>
        </li>
        <li>
          <%= link_to "登録されているNPO団体は本当に安全？", "#" %>
        </li>
        <li>
          <%= link_to "サイト上で寄付以外にできるボランティアはある？", "#" %>
        </li>
        <li>
          <%= link_to "User登録はemailとニックネームだけで本当に大丈夫？", "#" %>
        </li>
      </ul>
    </section>
    <section class="please-area">
      <h1>Please Cooperate</h1>
      <p class="translation">Giftへの協力のお願い</p>
      <p class="please-detail">当サービスは団体,利用者ともに無料なのでサイト運営の資金は
        広告及び寄付で賄っています。サイト維持のため寄付のご協力お願いします。</p>
      <%= link_to "支援する", "#" %>
    </section>
  </div>
</article>
