<% provide(:title, "ファンドレイジングプラットフォーム") %>
<article class="home-container">
  <div class="home-image-area inner">
    <%= image_tag "home.jpg" %>
    <p>知る 支援する 広める。<br>ボランティアの自由で新しいあり方</p>
    <%= link_to "新規登録", signup_path %>
  </div>
  <div class="main-container">
    <div class="home-main-area inner">
      <section class="left-side">
        <div class="serch-area">
          <h1>団体検索</h1>
          <%= form_tag("#", method: "get", class: "home-serch-form serch-common")do %>
            <%= text_field_tag :search, "", placeholder: "  NPO団体名で検索" %>
            <%= button_tag :type => "submit", :title => nil do %>
            <i class="fa fa-search" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <select name="カテゴリーから探す">
            <option value="category">カテゴリーから探す</option>
            <option value="animal-welfare-support">動物愛護支援</option>
            <option value="poverty-support">貧困支援</option>
            <option value="human-rights-support">女性　人権支援</option>
          </select>
          <select name="地域から探す">
            <option value="area">地域から探す</option>
            <option value="tokyo">東京</option>
            <option value="oosaka">大阪</option>
            <option value="nagoya">名古屋</option>
          </select>
        </div>
        <div class="donation-amount-area">
          <h1>支援金総額</h1>
          <p>1000万円</p>
        </div>
        <div class="ranking-area">
          <h1>貢献者ランキング</h1>
          <ul>
            <li>
              <h1>1位</h1>
              <p>坂上忍</p>
            </li>
            <li>
              <h1>2位</h1>
              <p>松本人志</p>
            </li>
            <li>
              <h1>3位</h1>
              <p>浜田雅功</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="main">
        <div class="category-list-area">
          <h1>Category List</h1>
          <p class="title-discription">支援したい団体を<br>カテゴリーからチェックしよう</p>
          <ul>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "international.jpg" %>
                <p>国際支援</p>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "animal.jpg" %>
                <p>動物愛護支援</p>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "nature.jpg" %>
                <p>環境保護支援</p>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "poverty.jpg" %>
                <p>貧困支援</p>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "right.jpg" %>
                <p>人権支援</p>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "parenting.jpg" %>
                <p>子育て,出産支援</p>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "education.jpg" %>
                <p>教育支援</p>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "disaster.jpg" %>
                <p>災害支援</p>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "caregiver.jpg" %>
                <p>障害,介護支援</p>
              <% end %>
            </li>
          </ul>
          <!-- 下のリンクのクラス名問題ない？ --->
          <%= link_to "団体一覧へ", "#", class: "home-index-link" %>
        </div>
        <div class="timeline-common">
          <h1>Time Line</h1>
          <p>タイムライン</p>
          <p>NPO団体の活動をチェックして支援しよう</p>
          <ul>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "account.png" %>
                <div>
                  <p class="account-name-common">アカウント名</p>
                  <p>投稿内容</p>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "account.png" %>
                <div>
                  <p class="account-name-common">アカウント名</p>
                  <p>投稿内容</p>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= image_tag "account.png" %>
                <div>
                  <p class="account-name-common">アカウント名</p>
                  <p>投稿内容</p>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </section>
      <section class="right-side cm-common">
        <%= image_tag "cm2.jpg", class: "big-cm cm" %>
        <%= image_tag "cm2.jpg", class: "small-cm cm" %>
        <%= image_tag "cm2.jpg", class: "small-cm cm" %>
        <%= image_tag "cm2.jpg", class: "small-cm cm" %>
        <%= image_tag "cm2.jpg", class: "big-cm cm" %>
        <%= image_tag "cm2.jpg", class: "small-cm cm" %>
        <%= image_tag "cm2.jpg", class: "small-cm cm" %>
      </section>
    </div>
  </div>
</article>
