<%= provide(:title, "ログイン") %>
<article class="form-container">
    <h1 class="form-heading"><i class="fas fa-users form-icon"></i>ログイン</h1>
    <div class="form-inner">
      <%= form_for(:session, url: login_path, html: { class: "form-area" }) do |f| %>
      <h1>ログイン情報</h1>
      <span>
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
      </span>
      <span>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
      </span>
        <%= f.submit "ログイン", class: "btn-form" %>
      <% end %>
    </div>
  </article>
