<%= provide(:title, "新規登録") %>
<article class="form-container">
    <h1 class="form-heading"><i class="far fa-address-card form-icon"></i>新規登録</h1>
    <div class="form-inner">
      <%= form_for(@user, url: "/signup", html: { class: "form-area" }) do |f| %>
      <h1>基本情報</h1>
      <%= render 'shared/error_messages' %>
      <span>
        <%= f.label :nick_name, "ニックネーム" %>
        <%= f.text_field :nick_name %>
      </span>
      <span>
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
      </span>
      <span>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
      </span>
      <span>
        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation %>
      </span>
        <%= f.submit "会員登録する", class: "btn-form" %>
      <% end %>
    </div>
  </article>
