<%= provide(:title, "アカウント詳細")%>
<article class="user-details-container">
  <div class="account-area inner">
    <div class="background-img">
      <% if @user.background_image.nil? %>
        <%= image_tag "default_bakcground.jpg" %>
      <% else %>
        <%= image_tag @user.background_image.to_s %>
      <% end %>
    </div>
    <div class="account-img">
      <% if @user.top_image.nil?%>
        <%= image_tag "account.png"%>
      <% else %>
        <%= image_tag @user.top_image.to_s %>
      <% end %>
    </div>
    <div class="account-content">
      <p><%= @user.nick_name %></p>
    </div>
    <div class="follow-link">
      <ul>
        <li>
          <p>フォロー中</p>
          <%= link_to "3", "#" %>
        </li>
        <li>
          <p>定期支援中</p>
          <%= link_to "10", "#" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="inner user-details-inner">
    <aside class="user-info-container">
      <section>
        <div class="">
          <h1>募金履歴</h1>
        </div>
        <div class="">
          <h1>データ</h1>
        </div>
        <div class="">
          <h1>募金総額</h1>
          <p></p>
          <h1>総支援者数</h1>
          <p></p>
        </div>
      </section>
    </aside>
    <!-- 共通部分の変数名はこれでいい？ -->
    <section class="user-details-timeline-area">
      <div class="timeline-common">
        <h1>Time Line</h1>
        <p>タイムライン</p>
        <p>NPO団体の活動をチェックして支援しよう</p>
        <ul>
          <li>
            <%= link_to "#" do %>
              <%= image_tag "account.png" %>
              <div>
                <!-- ここの変数名　共通部分はこれでいい？ -->
                <p class="user-details-account-name account-name-common">アカウント名</p>
                <p>投稿内容</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <%= image_tag "account.png" %>
              <div>
                <p class="account-name-common">アカウント名</p>
                <p>投稿内容</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <%= image_tag "account.png" %>
              <div>
                <p class="account-name-common">アカウント名</p>
                <p>投稿内容</p>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </section>
    <aside class="user-details-cm-container cm-common">
      <section>
        <ul>
          <li>
            <%= image_tag "cm2.jpg", class: "big-cm cm" %>
          </li>
          <li>
            <%= image_tag "cm2.jpg", class: "small-cm cm" %>
          </li>
          <li>
            <%= image_tag "cm2.jpg", class: "small-cm cm" %>
          </li>
        </ul>
      </section>
    </aside>
  </div>
</article>
