/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Place all the styles related to the StaticPages controller here.
 // They will automatically be included in application.css.
 // You can use Sass (SCSS) here: http://sass-lang.com/
 $light-black: rgba(0, 0, 0, 0.8);
 $light-gray: #DDDDDD;
 // headerのレイアウトの幅の開け方のコードがわかりにくい？
 body{
   margin: 0;
 }
 ul{
   list-style: none;
 }
 a{
   text-decoration: none;
 }
 input{
   outline: none;
 }
 .inner{
   width: 85%;
   margin: 0 auto;
 }
 header{
   height: 65px;
   border-bottom: 2px solid $light-gray;
   .header-inner{
     display: flex;
     justify-content: space-between;
   }
   .signup-link, .login-link{
     border: 2px solid $light-gray;
     padding: 5px 10px 10px 10px;
     height: 20px;
     margin-top: 15px;
   }
   h1{
     margin-top: 2px;
     a{
       font-size: 45px;
       margin: 0;
     }
   }
   a{
     color: $light-black;
     font-size: 18px;
     &:hover{
       color: black;
     }
   }
   ul{
     display: flex;
     justify-content: space-around;
     width: 700px;
     margin: 10px 0 0 0;
     padding: 0;
     a{
       line-height: 65px;
     }
   }
 }
 .header-serch-form{
   line-height: 65px;
   margin-right: 200px;
   input{
     height: 43px;
     width: 400px;
   }
   button{
     position: relative;
     right: 67px;
     height: 44px;
   }
 }
 .header-account-link{
   img{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 2px solid #CCCCCC;
     margin-top: 7px;
   }
 }
 .header-logout-link{
   line-height: 65px;
 }
 //検索機能のレイアウトの共通部分
 .serch-common{
   height: 50px;
   text-align: center;
   input{
     border-radius: 20px;
     height: 40px;
     border: 2px solid #d3d3d3;
   }
   button{
     width: 60px;
     border-radius: 20px;
     border: none;
   }
   button:hover{
     cursor: pointer;
   }
 }
 footer{
   height: 500px;
   .footer-inner{
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
   }
   img{
     width: 100%;
     height: 200px;
   }
   div{
     width: 24%;
     text-align: center;
     margin: 20px 10px 0 0;
   }
   h1{
     font-size: 25px;
     border-bottom: 2px solid yellow;
   }
   li{
     margin: 15px;
   }
   a{
     color: $light-black;
     font-size: 18px;
     &:hover{
       color: black;
     }
   }
 }
 // タイムラインパーシャルビューのレイアウト
.timeline-common{
  text-align: center;
  border: 2px solid $light-gray;
  border-radius: 10px;
  margin: 0 50px;
  padding-bottom: 30px;
  h1{
  font-size: 30px;
  margin-bottom: 0;
  }
  a{
   display: flex;
   color: $light-black;
  }
  img{
   border-radius: 50%;
   border: 2px solid gray;
   width: 70px;
   height: 70px;
  }
  div{
   margin-left: 30px;
  }
  li{
   border-bottom: 1px solid $light-gray;
   padding-bottom: 30px;
   margin-bottom: 30px;
  }
}
.account-name-common{
 font-weight: bold;
 font-size: 20px;
}
// cmのエリアのレイアウト
.cm-common{
  display: flex;
  flex-direction: column;
}
.cm{
  width: 100%;
  margin-bottom: 30px;
}
.small-cm{
  height: 200px;
}
.big-cm{
  height: 300px;
}
 // buttonレイアウト
 .service-description-area a,
 .please-area a,.how-to-use-area a,
 .about-qusetions-link{
   // 新規登録のボタンのレイアウトは共通するところがたくさんあるのでくくれる？
   display: inline-block;
   color: white;
   background-color: #75A9FF;
   padding: 12px 80px;
   font-size: 25px;
   font-weight: bold;
   margin-top: 30px;
   border-radius: 30px;
   &:hover{
     background-color: #5D99FF;
   }
 }
 //掲載希望団体の方へのaboutページや募金方法についての説明ページ共通
 // の利用の流れ部分のレイアウトをここでまとめています
 .flow{
   display: flex;
   justify-content: space-around;
   margin-bottom: 50px;
   div{
     width: 33%;
   }
 }
 .mark-area{
   display: flex;
   margin: 50px 0 40px 0;
   span{
     display: block;
   }
 }
 .left-line,.right-line{
   background-color: gray;
   width: 370px;
   height: 8px;
   margin-top: 15px;
 }
 .right-line{
   position: relative;
   top: 10px;
   left: 12px;
 }
 .left-line{
   position: relative;
   top: 10px;
   left: 14px;
 }
 .left-round{
   position: relative;
   left: 15px;
   margin-left: 120px;
 }
 .round{
   position: relative;
   left: 13px;
 }
 .round, .left-round, .right-round{
   background-color: gray;
   border-radius: 50%;
   width: 50px;
   height: 50px;
 }
 .step-content{
   font-size: 35px;
   font-weight: bold;
 }
 // エラーメッセージレイアウト
#error_explanation {
  margin-left: 80px;
}
.alert-success{
  background-color: #75A9FF;
  text-align: center;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 18px;
  line-height: 50px;
}
.alert-denger{
  height: 50px;
  width: 100%;
  background-color: red;
  border-radius: 5px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 18px;
  text-align: center;
  color: white;
}
// 新規登録　ログインレイアウト
.form-container{
  margin: 60px 0 200px 0;
  h1{
    font-weight: normal;
  }
}
.form-heading{
  font-size: 30px;
  margin-left: 270px;
}
.form-icon{
  margin-right: 10px;
}
.form-inner{
  width: 50%;
  margin: 0 auto;
}
.form-area{
  padding: 70px 0;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  h1, span{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #CCCCCC;
  }
  h1{
    padding-bottom: 10px;
  }
  span{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    line-height: 47px;
    input{
      border-radius: 5px;
      border: 1px solid #CCCCCC;
      font-size: 18px;
      width: 300px;
      height: 50px;
      padding-left: 8px;
    }
    label{
      font-size: 18px;
    }
  }
}
.btn-form{
  margin: 0 auto;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: white;
  background-color: #75A9FF;
  border: none;
  border-radius: 30px;
  &:hover{
    background-color: #5D99FF;
    cursor: pointer;
  }
}
