// Place all the styles related to the NpoUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.how-to-use-area{
  margin: 100px 0 200px 0;
}
.npo-users-opinion-area{
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  div{
    width: 48%;
  }
  img{
    border: 3px solid #CCCCCC;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}
.npo-name{
  font-weight: bold;
  font-size: 20px;
}
.npo-opinion{
  font-size: 18px;
}
