// Place all the styles related to the Pays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-black: rgba(0, 0, 0, 0.8);
.online-volanter-are{
  margin: 100px 0;
}
.commant-volanter-area{
  margin-bottom: 130px;
}
