// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-black: rgba(0, 0, 0, 0.8);
$light-gray: #DDDDDD;
$button-color: #5D99FF;
$button-hover-color: #5D99FF;

.home-container{
  margin-bottom: 200px;
}
.home-image-area{
  text-align: center;
  img{
    margin-top: 10px;
    height: 520px;
    width: 100%;
  }
  a{
    display: inline-block;
    color: white;
    background-color: yellow;
    padding: 10px 60px;
    font-size: 23px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 5px;
  }
  p{
    color: black;
    font-weight: bold;
    font-size: 25px;
  }
}
.main-container{
  margin-top: 100px;
}
.home-main-area{
  display: flex;
}
.left-side{
  width: 25%;
}
.donation-amount-area,.serch-area,
.ranking-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid $light-gray;
  margin-bottom: 30px;
}
.serch-area{
  background-color: white;
  height: 300px;
  h1{
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  select{
    height: 35px;
    width: 180px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
  }
}
.home-serch-form{
  width: 100%;
  input{
    width: 90%;
  }
  button{
    position: relative;
    left: 97px;
    bottom: 45px;
  }
}
.donation-amount-area{
  height: 120px;
  p{
    font-size: 20px;
    margin: 0;
  }
  h1{
    margin: 0 0 10px 0;
  }
}
.ranking-area{
  padding: 10px 0;
  ul{
    margin: 0;
    padding: 0;
    width: 50%;
  }
}
.main{
  width: 60%;
  text-align: center;
  img{
    width: 50px;
    height: 100px
  }
  h1{
    font-size: 30px;
  }
}
.category-list-area{
  h1{
    margin: 0 90px 10px 0;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 30px 0 0;
    a{
      color: $light-black;
    }
  }
  li{
    background-color: #FFFAFA;
    width: 30%;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 30px;
    text-align: center;
  }
  li:hover{
    opacity: 0.8;
  }
  img{
    width: 100%;
    height: 180px;
  }
}
.title-discription{
  margin: 0 70px 40px 0;
}
.home-index-link{
  display: inline-block;
  color: white;
  background-color: yellow;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 30px 0;
  border-radius: 30px;
}
.right-side{
  width: 15%;
}
// ここからaboutのレイアウト
.about-container{
  text-align: center;
  margin-bottom: 300px;
  h1{
    font-size: 40px;
    margin-bottom: 10px;
  }
}
.about-background-img{
  width: 100%;
  margin-top: 10px;
  height: 520px;
}
.service-description-area img{
  margin: 50px 0;
  width: 100%;
  height: 250px;
}
.detail-description{
  margin-bottom: 60px;
}
.questions-area{
  margin: 80px 0 100px 0;
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-top: 20px;
    a{
      display: block;
      width: 100%;
      color: $light-black;
      font-size: 20px;
      border: 2px solid #DDDDDD;
      padding: 12px 0;
      &:hover{
        color: black;
      }
    }
  }
  li{
    width: 47%;
  }
}
.please-detail{
  margin-top: 40px;
}
.detail-description,
.translation{
  font-size: 20px;
}
.service-description-area li p,
.please-detail{
  font-size: 25px;
}
