// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-black: rgba(0, 0, 0, 0.8);

// user詳細ページ
.account-img img{
  position: relative;
  bottom: 60px;
  right: 20px;
  border-radius: 50%;
  width: 160px;
  border: 2px solid #CCCCCC;
  float: left;
}
.background-img img{
  margin-top: 10px;
  width: 100%;
  height: 250px;
}
.account-content p{
  font-weight: bold;
  font-size: 25px;
}
.user-details-inner{
  display: flex;
  margin-top: 70px;
}
.follow-link{
  ul{
    display: flex;
  }
  li{
    margin-right: 25px;
  }
  a{
    color: black;
    font-weight: bold;
    &:hover{
      opacity: 0.8;
    }
  }
}
.user-details-timeline-area{
  width: 60%;
}
.user-info-container, .user-details-cm-container{
  width: 20%;
}
