<footer>
  <%= image_tag "cm1.jpg" %>
  <div class="footer-inner">
    <div>
      <h1>団体を探す</h1>
      <nav>
        <ul>
          <li><%= link_to "すべての団体から探す", "#" %></li>
          <li><%= link_to "カテゴリーから探す", "#" %></li>
          <li><%= link_to "地域から探す", "#" %></li>
        </ul>
      </nav>
    </div>
    <div>
      <h1>Giftについて</h1>
      <nav>
        <ul>
          <li><%= link_to "サービスについて", about_path %></li>
          <li><%= link_to "募金方法について", pays_about_path, class: "footer-about-pays" %></li>
          <li><%= link_to "掲載希望団体の方へ", npo_users_about_path, class: "footer-about-npo" %></li>
        </ul>
      </nav>
    </div>
    <div>
      <h1>お問い合わせ</h1>
      <nav>
        <ul>
          <li><%= link_to "問い合わせ", "#" %></li>
          <li><%= link_to "よくある質問", "#" %></li>
          <li><%= link_to "ご意見箱", "#" %></li>
        </ul>
      </nav>
    </div>
    <div>
      <h1>会社</h1>
      <nav>
        <ul>
          <li><%= link_to "会社概要", "#" %></li>
          <li><%= link_to "利用規約", "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
