<header>
  <div class="inner header-inner">
    <h1><%= link_to "Gift", root_path %></h1>
    <% if logged_in? %>
      <%= form_tag("#", method: "get", class: "header-serch-form serch-common")do %>
        <%= text_field_tag :search, "", placeholder: "  NPO団体名で検索" %>
        <%= button_tag :type => "submit", :title => nil do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= link_to "ログアウト", logout_path, method: :delete, class: "header-logout-link" %>
    <!--下の画像のところまとめれる？ -->
      <%= link_to user_path(current_user), class: "header-account-link" do %>
        <% if @current_user.top_image.nil?%>
          <%= image_tag "account.png"%>
        <% else %>
          <%= image_tag @current_user.top_image.to_s %>
        <% end %>
      <% end %>
    <% else %>
      <nav>
        <ul>
          <li><%= link_to "Giftとは", about_path %></li>
          <li><%= link_to "募金方法について", pays_about_path %></li>
          <li><%= link_to "掲載希望団体の方へ", npo_users_about_path %></li>
          <li><%= link_to "お問い合わせ", "#" %></li>
        </ul>
      </nav>
        <%= link_to "新規登録", signup_path, class: "signup-link" %>
        <%= link_to "ログイン", login_path, class: "login-link" %>
    <% end %>
  </div>
</header>
